body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
  border: 2px solid #73AD21;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 25px;
  border: 2px solid #73AD21;
    cursor: pointer;

  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #todo-table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 25px;
  border: 2px solid #73AD21;
  }
  
  #todo-table th, #todo-table td {
    border-radius: 25px;
  border: 2px solid #73AD21;
    padding: 8px;
    text-align: left;
  }
  
  #todo-table th {
    border-radius: 25px;
  border: 2px solid #73AD21;
    background-color: #f2f2f2;
  }
  